---
layout: default
---
<article>
  <a class="back-link" href="{{ '/thoughts/' | relative_url }}">
    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 12H5M11 18l-6-6 6-6"/></svg>
    All thoughts
  </a>
  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <div class="post-date">{{ page.date | date: "%B %-d, %Y" }}</div>
  </header>
  <div class="post-content">
    {{ content }}
  </div>
</article>
